body{
    margin:40px;
}
.customers-section{
    margin-left:220px;
}
.customers-section-header{
    margin-bottom: 40px;
}
.customers-table{
    border: 2px solid;
    border-collapse: collapse;
}
.customers-table tr:nth-child(even){
    padding: 10px;
    background-color: #d0d0e1;
}
.customers-table td{
    padding: 10px 15px;
    text-align:left;
    border: 1px solid #dddddd;
}
.customers-table th{
    padding: 10px 15px;
    text-align:center;
    border: 1px solid #dddddd;
}

